html,body {
    height:100%;
}
/**********************************  MENU TOP   *********************************************/
.navbar-default     { background-color:#A6D6A7; font-size: 18px !important;}
.navbar-default a   { color: #01662f !important;}
.bt_menu ul a       { color: #01662f !important;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
{
    background-color: #4CA04E;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover{
    background-color: #4CA04E;
}
.navbar-default .navbar-nav  > a, a:hover{
    background-color: #4CA04E !important;
}

/*****************************   CORPO DO CONTEUDO  ****************************************/
.corpo{ padding-top: 70px;}
.corpologin{

    background-color: #ffffff;

}
.h1-bkgcolor{
    color: #ffffff;
}

/*****************************  RODAPÉ FOOTER  *********************************************/
footer {
    background-color:#A6D6A7; font-size: 18px !important;
}
footer  p   { color: rgba(3, 0, 1, 0.53) !important;}
footer  h1  { color: #ffffff !important;}
.footer{
    position: absolute;
    width:100%;
    height: 50px;
    bottom:0px
}
.container > p {
    text-align: center;
    color: #ffffff;
}
/*Bnt morrom*/
.btn-marrom{

    color: #fff;
    /*background-color: #A45E4D*/;
    background-color: rgb(164,94,77);
    border-color: rgba(0,0,0,0.2);

}

.titulo-siscal{
    color: rgb(15,143,82);
    font-weight: bold;
}


/* Medias Querys*/

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    /*Rodape Tablets*/
    .footer{
        position: relative;
        width:100%;
        bottom:0px
    }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .footer{
        position: relative;
        width:100%;
        bottom:0px
    }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
    .footer{
        position: relative;
        width:100%;
        bottom:0px
    }
}









